body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  overflow-x:hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@keyframes fadeIn {
  from {
    opacity:0;
  }

  to {
    opacity:100;
  }
}

@keyframes slideFromTop {
  0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
}

/* #div1{ 
  width: 100px; height: 100px; top:0; left:0; background:#777; position:absolute;
}
#div2{
  width: 100px; height: 100px; top:300px; left:300px; background:#333; position:absolute;
} */

/********************************** BANNER  ************************************/


.homeImg{
  position:absolute;
  width: 100%;
  height: 100vh;
}

.banner{
  position:relative;
  margin-top:120px;
  animation-duration: 3s;
  animation-name: fadeIn;
}

.title{
  font-size:20px;
  font-family: "Rock Salt";
  color:white;
  font-weight:200;
}

.intro{
  margin-top:40px;
  font-size:22px;
  font-family: "Nunito";
  width:80%;
  margin-left:10%;
  color:white;
}

.banner-btnWrap{
  margin-top:30px;
}

.banner-requestBtn{
  font-family: "Avenir";
  color:rgba(255, 255, 255, 0.892);
  background:#2080c4;
  text-decoration: none;
  font-size:24px;
  border:solid rgba(255, 255, 255, 0.701) 1px; 
  border-radius:40px;
  padding: 12px 25px;
}
.banner-requestBtn:hover{
  color:white;
  text-decoration: none;
  background:#89c6f18f;
  /* border:transparent; */
}
.onlineorcall{
  color:rgb(219, 219, 219);
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/********************************** NAVBAR  ************************************/
/* .active-link{
  padding:10px 0px;
  border-top:solid 1px #031c27;
} */

.navbar{
  position:relative;
  animation-name:slideFromTop;
  animation-duration:2s;
}

.fa-phone{
  color:#37a9fa;
}

.navbar-contact-info{
  margin-top:80px;
  text-align:left;
}
.navbar-divider{
  background:#c5edff;
  /* height:0.5px; */
  width:90%;
  margin-left:5%;
  position:relative;
}
.navbar-divider2{
  background:#c5edff;
  /* height:0.5px; */
  width:90%;
  margin-left:5%;
  position:relative;
  display:none;
}
.navbar-logo{
  font-size:40px;
  font-family: "Rock Salt";
  color:#ffffff;
  margin-left:15%;
}
.navbar-logo:hover{
 text-decoration:none;
 cursor:pointer;
 color:white;
}

.navbar-phone{
  font-size:22px;
  font-family: "Avenir";
  color:white;
  border:rgba(255, 255, 255, 0.5) solid 1px;
  border-radius:40px;
  padding:10px 20px;
  margin-right:5%;
}
.navbar-phone:hover{
  text-decoration:none;
  cursor:pointer;
  color:white;
  background:rgba(255, 255, 255, 0.1);
 }

 .navbar-requestLesson, 
 .navbar-home,  
 .navbar-pricing,  
 .navbar-bio{
   color:white;
   text-decoration:none;
   font-size:16px;
   font-family:'Nunito';
   padding-top:16px;
   border-bottom:solid 0.5px transparent;
 }
 .navbar-requestLesson:hover, 
 .navbar-home:hover,
 .navbar-pricing:hover,
 .navbar-bio:hover{
  color:white;
  text-decoration:none;
  border-bottom:solid 0.5px white;
 }

.banner .fab{
  color:rgb(247, 247, 247);
  font-size:24px;
}

/* Nav Queries */

.query-nav2{
  display:none;
}

/********************************** STYLE AND EXP  ************************************/

.styleAndExperience{
  position:relative;
  margin-top:100px;
}
.crissStanding{
  margin-top:50px;
  width:100%;
}

.teaching-icons{
  width:150px;
  border: solid grey 1px;
  border-radius:50%;
}
.brain{
  margin: 0px 200px;
}
.teachingStyle{
  margin-bottom:100px;
}
.teachingStyle-title{
  font-size:36px;
  color:#214e6f;
  font-family: 'Mukta', sans-serif;
}

.teachingStyle-intro{
  font-size:19px;
  color:rgb(52, 52, 52);
  font-family: 'Mukta', sans-serif;
  width:90%;
  margin-left:5%;
}
.icon-description{
  font-size:24px;
  color:#427da7;
  font-family: 'Mukta', sans-serif;
}
.experience-title{
  font-size:36px;
  color:#214e6f;
  font-family: 'Mukta', sans-serif;
}

.experience-content{
  font-size:19px;
  color:#043559;
  font-family: 'Mukta', sans-serif;
}
.experience-listed{
  margin-top:100px;
}
.experience-listed li{
  padding:0;
  border:solid #37a9fa 4px;
  border-radius:30px;
  padding:15px;
  text-align: center;
}
.exp-middleLeft{
  margin-left:-100px;
  margin-right:100px;
}
.exp-middleRight{
  margin-right:-100px;
  margin-left:100px;
}

.experience-content ul{
  list-style-type: none;
  padding:0;
}

/********************************** GALLERY  ************************************/

.styleGalleryHoriDiv{
  margin: 100px auto; 
  background:rgb(35, 245, 95);;
  width:80%;
}

.gallery img{
  width:16.6666666667%;
}

/********************************** TESTIMONIALS  ************************************/

.testimonials-title{
  font-size:36px;
  color:rgb(0, 63, 171);
  font-family: 'Mukta', sans-serif;
  text-align:center;
  margin-top:120px;
}

.testimonials-divider{
  margin: 50px auto; 
  background:rgb(35, 245, 95);;
  width:80%;
}

.testimonials .cardOnLeft{
  color:rgb(44, 44, 44);
  margin-left:10%;
  width:80%;
  background:rgb(240, 251, 255);
  border-radius:50%;
  border: none;
}

.testimonials .cardOnRight{
  margin-top:250px;
  color:rgb(44, 44, 44);
  margin-left:10%;
  width:80%;
  background:rgb(241, 255, 240);
  border-radius:50%;
  border: none;
}

.quotesImageEnd{
  margin-left:200px;
}

.testimonials-quotes{
  font-family: 'Passion One';
  font-size: 270px;
  color:rgb(194, 243, 255);
}

.testimonials-content{
  margin-top: -120px;
  font-family: "Nunito";
  font-size: 18px;
  font-style: italic;
  margin-bottom:30px;
}

.testimonials-nameLeft{
  font-weight: 500;
  color:rgb(2, 159, 199);
  font-size:18px;
}

.testimonials-nameRight{
  font-weight: 500;
  color:rgb(0, 158, 47);
  font-size:18px;
}

/********************************** SERVICES AND PRICE HOME  ************************************/

.SP_home{
  position:relative;
  margin-top:140px;
}
.SP_banner{
  animation-duration: 3s;
  animation-name: fadeIn;
}
.SP-title{
  font-size:30px;
  font-family: "Rock Salt";
  color:white;
  font-weight:200;
}
.SP-intro{
  margin-top:50px;
  font-size:24px;
  font-family: "Nunito";
  width:90%;
  margin-left:5%;
  color:white;
}

/********************************** SERVICES  ************************************/

.services{
  position:relative;
  color:#052e4b;
  margin-top:300px;
  font-family: "Nunito";
}
.services img{
  width:100px;
  border: solid black 2px;
  border-radius:50%;
}
.services-title{
  color:#2080c4;
  font-size:36px;
}
.services-offered{
  font-size:24px;
}
.services-guarantee{
  font-size:18px;
}
.pricing-info{
  font-size:24px;
}
.pricing-title{
  color:#2080c4;
  font-size:36px;
}
.services ul{
  list-style-position: inside;
}

.price-item{
  border-bottom: solid 1px grey;
}
.SP-requestBtn{
  margin-top:25px;
  font-family: "Avenir";
  color:rgba(255, 255, 255, 0.892);
  background:#2080c4;
  text-decoration: none;
  font-size:28px;
  border:solid rgba(255, 255, 255, 0.701) 1px; 
  border-radius:40px;
  padding: 15px 25px;
}
.SP-requestBtn:hover{
  color:white;
  text-decoration: none;
  background:#073a5c;
}

/********************************** BIO ************************************/

.Bio-home{
  position:relative;
  margin-top:100px;
  color:White;
  animation-duration: 3s;
  animation-name: fadeIn;
  
}
.Bio-title{
  font-size:30px;
  font-family: "Rock Salt";
  color:white;
  font-weight:200;
}
.Bio-intro{
  margin-top:20px;
  font-size:24px;
  font-family: "Nunito";
  width:90%;
  margin-left:5%;
  color:black;
  margin-bottom:15px;
}
.bio-gallery img{
  width:25%;
}
.qualifications{
  margin-top:35px;
}
.qualifications li{
  margin-top:25px;
  font-size:22px;
  list-style-image: url(images/green-circle.png)
}


/********************************** AWARDS ************************************/
.awards{
  margin-top:170px;
  color:black;
  font-family: "Nunito";
  font-weight: 200;
}
.award-title{
  color:rgb(7, 32, 85); 
  font-size:36px;
  text-align:center;
  margin-bottom:70px;
}

/********************************** FOOTER ************************************/


footer{
  margin-top:120px;
  color:white;
  padding:50px;
  background: linear-gradient(bottom, rgb(0, 0, 0), #214e6f)
}
.footer-title{
  font-family: "Gruppo";
  font-size:60px;
}
.footer-div{
  width: 80%;
  background:white;
}

.footer-social-media i{
  color:white;
  font-size:40px;
}

.locations, .footer-contact{
  font-size:24px;
  font-family: 'Mukta', sans-serif;
}
.footer-number{
  color:white;
}
.footer-number:hover{
  color:rgb(182, 207, 253);
  text-decoration:none;
}
.footer-email{
  color:white;
}
.footer-email:hover{
  color:rgb(182, 207, 253);
  text-decoration:none;
}

/************************************** REQUEST STICKY ***************************************/

.sticky_btn{
  position:fixed;
}

.req_sticky-btn{
    outline: none;
    position: fixed;
    top: 40%;
    right: -1px;
    background-color: rgba(230, 230, 230, 0.699);
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 10px;
    color: #2892de;
    /* font-weight: bold; */
    z-index: 10000;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
}

.bot-field{
  display:none;
}

form{
  background:rgb(245, 245, 245);
  border-radius:15px;
  padding:10px;
  color:rgb(48, 48, 48);
}
input{
  display:block;
  margin-right:auto;
  margin-left:auto;
  border-radius:5px;
  padding-left:5px;
  padding-right:5px;
  border:solid 1px green;
  text-align:center;
}
.form-fields{
  margin-bottom:20px;
}
.form-header{
  font-family: "Avenir";
  color:white;
  background:#28a745;
}
.form-required{
  border:solid 3px green;
}
.form-response{
  font-weight: 600;
}
/*************************************** TIMELINE ***************************************/


/* The actual timeline (the vertical ruler) */

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline-date{
  font-size:20px;
  font-family: 'Josefin Sans';
  color:rgb(79, 238, 79);
}
/* .timeline-title{
} */

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #41a5ed;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* timeline-wrapper around content */
.timeline-wrapper {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-wrapper::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: white;
  border: 4px solid rgb(79, 238, 79);
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the timeline-wrapper to the left */
.timeline-left {
  left: 0;
}

/* Place the timeline-wrapper to the right */
.timeline-right {
  left: 50%;
}

/* Add arrows to the left timeline-wrapper (pointing right) */
.timeline-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #214e6f;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #214e6f;
}

/* Add arrows to the right timeline-wrapper (pointing left) */
.timeline-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #214e6f;
  border-width: 10px 10px 10px 0;
  border-color: transparent #214e6f transparent transparent;
}

/* Fix the circle for timeline-wrappers on the right side */
.timeline-right::after {
  left: -14px;
}

/* The actual content */
.timeline-content {
  padding: 20px 30px;
  background: linear-gradient(top, #214e6f, #2892de);
  position: relative;
  border-radius: 6px;
  color:white;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  
  /* Full-width timeline-wrappers */
  .timeline-wrapper {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .timeline-wrapper::before {
    left: 60px;
    border: medium solid #214e6f;
    border-width: 10px 10px 10px 0;
    border-color: transparent #214e6f transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .timeline-left::after{
    left: 17px;
  }
  .timeline-right::after{
    left: 17px;
  }
  
  /* Make all right timeline-wrappers behave like the left ones */
  .timeline-right {
  left: 0%;
  }
}


/********************************************* MEDIA QUERIES *********************************************/

/* for EXP bubbles */
@media (max-width: 1253px)
{ 
  body{
    background:pink;
  }
  .exp-middleLeft{
    margin-left:-50px;
    margin-right:100px;
  }
  .exp-middleRight{
    margin-right:-50px;
    margin-left:100px;
  }
}

/* large */
@media (max-width: 1199px)
{ 
  body{
    background:green;
  }
  .navbar-contact-info{
    margin-top:50px;
  }
  .homeImg{
    object-fit: cover;
    height: 100vh;
  }
  .crissStanding{
    margin-top:150px;
    width:100%;
  }
  .experience-content{
    font-size:18px;
  }
  .exp-middleLeft{
    margin-left:-100px;
    margin-right:100px;
  }
  .exp-middleRight{
    margin-right:-100px;
    margin-left:100px;
  }
  .quotesImageEnd{
    margin-left:130px;
  }
  .services-offered{
    font-size:20px;
  }
}

/* for EXP bubbles */
@media (max-width: 1100px)
{ 
  body{
    background:orange;
  }
  .exp-middleLeft{
    margin-left:-50px;
    margin-right:100px;
  }
  .exp-middleRight{
    margin-right:-50px;
    margin-left:100px;
  }
}

/* medium */
@media (max-width: 991.98px)
{ 
  body{
    background:red;
  }
  .navbar-logo{
    font-size:30px;
  }
  .query-nav{
    display:none;
  }
  .query-nav2{
    background:linear-gradient(bottom, rgba(185, 227, 240, 0.4), rgb(116, 211, 240, 0.4));
    display:block;
  }
  .navbar-divider{
    display:none;
  }
  .title{
    font-size:20px;
  }
  .banner{
   margin-top:80px; 
  }
  .intro{
    font-size:20px;
    width:100%;
    margin-left:0%;
  }
  .navbar-contact-info{
    margin-top:30px;
  }
  .banner-requestBtn{
    font-size:20px;
  }
  .onlineorcall{
    font-size:16px;
  }
  .crissStanding{
    width:50%;
    margin-left:25%;
    margin-top:100px;
  }
  .experience-listed li{
    list-style-type: none;
    list-style-position:inside;
    margin-left:50px;
    margin-right:50px;
    text-align: center;
  }
  .testimonials .cardOnLeft{
    margin-top:100px;
  }
  .testimonials .cardOnRight{
    margin-top:150px;
  }
  .quotesImageEnd{
    margin-left:310px;
  }
  .services{
    margin-top:200px;
  }
  .SP-title{
    font-size:32px;
  }
  .SP-intro{
    margin-top:50px;
    font-size:22px;
  }
  .services-offered{
  font-size:24px;
  }
  .SP-requestBtn{
    font-size:24px;
  }
  .Bio-title{
    font-size:30px;
  }
  .qualifications li{
    font-size:18px;
  }
  .awards{
    margin-top:140px;
  }
}


/* small */
@media (max-width: 767px)
{ 
  body{
    background:blue;
  }
  .navbar-logo{
    font-size:30px;
  }
  .nav-number{
    display:none;
  }
  .title{
    font-size:18px;
    line-height: 2;
  }
  .intro{
    font-size:18px;
  }
  .banner{
    margin-top:60px; 
  }
  .req_sticky-btn{
    font-size:18px;
  }
  .banner-requestBtn{
    font-size:18px;
  }
  .onlineorcall{
    font-size:14px;
  }
  .crissStanding{
    width:60%;
    margin-left:20%;
    margin-top:100px;
  }
  .gallery img{
    width:25%;
  }
  .quotesImageEnd{
    margin-left:100px;
  }
  .SP_home{
    margin-top:100px;
  }
  .services img{
    width:80px;
  }
  .services-offered{
    font-size:20px;
  }
  .pricing-info{
    font-size:20px;
  }
  .SP-requestBtn{
    font-size:20px;
  }
  .SP-intro{
    font-size:20px;
  }
  .services-title{
    margin-top:60px;
  }
  .req_sticky-btn{
    display:none;
  }
  .Bio-home{
    margin-top:40px;
  }
  .awards{
    margin-top:100px;
  }
  .teachingStyle{
    margin-top:160px;
  }
}

/* XS */
@media (max-width: 424px)
{ 
  body{
    background:purple;
  }
  .navbar-logo{
    font-size:30px;
  }
  .navbar-phone{
    font-size:18px;
  }
  .navbar-requestLesson, 
  .navbar-home, 
  .navbar-pricing, 
  .navbar-bio{
    font-size:14px;
  }
  .req_sticky-btn{
    font-size:16px;
  }
  .gallery img{
    width:33.33333333333333%;
  }
  .title{
    font-size:12px;
  }
  .intro{
    font-size:12px;
  }
  .onlineorcall{
    color:rgb(219, 219, 219);
    margin-top:30px;
    font-size:12px;
  }
  .banner-requestBtn{
    font-size:14px;
    padding: 10px 20px;
  }
  .navbar-contact-info{
    font-size:12px;
  }
  .banner .fab{
    font-size:18px;
  }
  .navbar-divider{
    margin-bottom:0;
  }
  .teachingStyle-title{
    font-size:24px;
    margin-top:-30px;
  }
  .teachingStyle-intro{
    font-size:18px;
    width:100%;
    margin-left:0;
  }
  .experience-title{
    font-size:24px;
    margin-top:30px;
  }
  .experience-content{
    font-size:18px;
  }
  .experience-listed{
    margin-top:40px;
  }
  .experience-listed li{
    margin-left:0px;
    margin-right:0px;
  }
  .crissStanding{
    margin-top:40px;
    width:80%;
    margin-left:10%;
  }
  .testimonials-title{
    font-size:24px;
    margin-top:80px;
  }
  
  .testimonials-divider{
    margin: 10px auto;
  }
  
  .testimonials .cardOnLeft{
    margin-left:0;
    width:100%;
    border: none;
  }
  
  .testimonials .cardOnRight{
    margin-top:100px;
    margin-left:0;
    width:100%;
  }
  
  .quotesImageEnd{
    margin-left:150px;
  }
  .card-body{
    padding:0;
  }
  
  .testimonials-quotes{
    font-family: 'Passion One';
    font-size: 150px;
    color:rgb(194, 243, 255);
  }
  
  .testimonials-content{
    margin-top: -120px;
    font-family: "Nunito";
    font-size: 15px;
    font-style: italic;
    margin-bottom:30px;
  }
  
  .testimonials-nameLeft{
    font-weight: 500;
    color:rgb(2, 159, 199);
    font-size:18px;
  }
  
  .testimonials-nameRight{
    font-weight: 500;
    color:rgb(0, 158, 47);
    font-size:18px;
  }
  footer{
    margin-top:120px;
    color:white;
    padding:50px;
    background: linear-gradient(bottom, rgb(0, 0, 0), #214e6f)
  }
  .footer-title{
    font-family: "Gruppo";
    font-size:40px;
  }
  .footer-div{
    width: 80%;
    background:white;
  }
  
  .footer-social-media i{
    color:white;
    font-size:30px;
  }
  
  .locations, .footer-contact{
    font-size:20px;
    font-family: 'Mukta', sans-serif;
  }
  .footer-number{
    color:white;
  }
  .footer-number:hover{
    color:rgb(182, 207, 253);
    text-decoration:none;
  }
  .footer-email{
    color:white;
  }
  .footer-email:hover{
    color:rgb(182, 207, 253);
    text-decoration:none;
  }
}

/* XXS */
@media (max-width: 320px)
{ 
  body{
    background:rgb(87, 245, 245);
  }
  .navbar-requestLesson, 
  .navbar-home, 
  .navbar-pricing, 
  .navbar-bio{
    font-size:12px;
  }
  .navbar-logo{
    font-size:24px;
    font-family: "Rock Salt";
    color:white;
  }
  .banner-requestBtn{
    font-size:12px;
  }
  .req_sticky-btn{
    font-size:16px;
  }
  .gallery img{
    width:33.33333333333333%;
  }
  .quotesImageEnd{
    margin-left:80px;
  }
  .navbar-phone{
    font-size:14px;
  }
}



